@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Fjalla+One&family=Inter:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D9D9D9;
    /* background-image: url(imagens/back.jpg); */
    background-size: cover;
    background-position: center top;
    max-height: 100vh;

    
}
.corpo {

    display: flex;
    align-items: center;
    flex-direction: column;

}


header{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho {
    padding: 5px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(84, 83, 83));
    position: absolute;
    z-index: 1000;

}



.logo {
    height: 80px;
    padding: 5px;
}

.botao {
    text-decoration: none;
    font-family: Inter;
    font-size: larger;
    color:#d2d2d2;

    border-radius: 5px;


    padding: 32px 16px;

    
}

.botao :hover {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(222, 222, 222));
    padding: 32px 8px;
    border-radius: 5px;
    color:#383838;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.primeira_parte {
width: 100%;

}
.primeira_parte > p  {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

    margin: 35px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

    font-family: Inter;
    color: black;
    word-wrap: break-word;

}

.primeira_parte > img {
    width: 100%;
}

.segunda_parte {
    display: flex;
    align-items: center;
    margin: 40px;
}

.segunda_parte > p {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

    margin-right: 50px;


    font-family: Inter;
    color: black;
    word-wrap: break-word;
    
}

.terceira_parte {
    display: flex;
    align-items: center;
    margin: 50px;

}

.terceira_parte > img {
    width: 50%;
}

.terceira_parte > p {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

    margin-left: 50px;


    font-family: Inter;
    color: black;
    word-wrap: break-word;
}

.final {
    width: 100%;
}


.final > img {
    width: 100%;
}
.final > p {
        
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;

    margin: 15px;
    margin-left: 100px;
    margin-right: 100px;

    font-family: Inter;
    color: black;
    word-wrap: break-word;
}

@media only screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    .cabecalho {
        position: relative;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .botao {
        color: black;
        padding: 0;
    }

    .botao :hover {
        padding: 0;
    }

    .primeira_parte {
        flex-direction: column;
        width: auto;
    }

    .primeira_parte > img {
        width: 100%;

    }

    .segunda_parte {
        flex-direction: column;
    }

    .segunda_parte > img {
        width: 50%;
    }

    .terceira_parte {
        flex-direction: column;
    }

    .final {
        flex-direction: column;
    }
}

.rodape{
    background-color: black;
    height: 40px;
    width: 100%;
    display:flex;
}

.creditos{
    color: white;
    padding: 10px;

}